[Unit]
Description=Foundry VTT Server
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=node resources/app/main.js --dataPath={{ foundry_home }}/data {% if foundry_port != '' %}--port={{ foundry_port }}{% endif %}

WorkingDirectory={{ foundry_home }}/app

[Install]
WantedBy=multi-user.target